vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
# comment this for heroku error
# bootstrap/cache/
storage/
.env.*.php
.env.php
.env
.env.example

#jetbrain IDT specific
.idea/

# for heroku
package.json
phpspec.yml
gulpfile.js